@font-face {
  font-family: "iconfont"; /* Project id 3648356 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasong:before {
  content: "\e604";
}

.icon-fasong1:before {
  content: "\e705";
}

.icon-fasong2:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-tuijian:before {
  content: "\e63f";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jinrujiantou:before {
  content: "\e8f1";
}

.icon-tushuguan:before {
  content: "\e664";
}

.icon-bendishenghuo:before {
  content: "\e606";
}

.icon-dianpuzhuangxiu:before {
  content: "\e608";
}

.icon-tengxunshimingrenzheng:before {
  content: "\e610";
}

.icon-xiazaizhongxin:before {
  content: "\e612";
}

.icon-a-54tuisongshezhi:before {
  content: "\e624";
}

.icon-yonghuguanli:before {
  content: "\e616";
}

.icon-kongzhitai:before {
  content: "\e651";
}

.icon-youjiantou:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e607";
}

